一般情况：。T:__@u(℃)@ @i(,)@ P:__@u(次/分)@　 R:__@u(次/分)@   BP:__/__@u(mmHg)@。发育正常,营养良好，身高183厘米，体重85公斤。。神志昏睡，被动体位，急性病容,与医生不合作。。皮肤粘膜：。颜色正常，无水肿，弹性正常，无皮疹，无皮下结节及肿块，无蜘蛛痣，无出血点，无淤斑，右上臂前侧3×2cm，右上臂后侧9×1cm及周围散在烫伤，已结痂，周围皮肤发红。。浅表淋巴结:。浅表淋巴结未触及肿大。。头部五官：。头颅：外形无畸形，@i(头颅：)@无包块，@i(头颅：)@毛发分布__，颅骨无压痛 